.order_link {
  width: 172px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: inherit;
  line-height: 30.26px;
  border-radius: var(--border-radius-all);
  background-color: #fff;
  color: #000;
  white-space: nowrap;
}
